<div class="row">
    <div class="col-xs-12">
        <div id="button-container" class="col-xs-5">
            <game-button [buttonColor]="'red'">
            </game-button>
        </div>
        <div id="button-container" class="col-xs-5 col-xs-offset-2">
            <game-button [buttonColor]="'yellow'">
            </game-button>
        </div>

        <div id="settings-container" class="col-xs-offset-2 col-xs-8">
            <div class="col-xs-1" style="padding:22px;">
                <span class="toggle" (click)="toggleOn()">
                <input type="checkbox">
                <label data-off="Off" data-on="On"></label>
            </span>
            </div>
            <div class="col-xs-1 col-xs-offset-1" style="padding:22px;">
                <button id="play-button" class="btn" (click)="start()">
                    <span *ngIf="outputSequence.length" [innerHtml]="outputSequence.length"></span>
                    <span *ngIf="!outputSequence.length && stateManager.powerOn">&#9654;</span>
                </button>

            </div>
            <div class="col-xs-1 col-xs-offset-2" style="padding:22px;">
                <span class="toggle" (click)="stateManager.strictMode = !stateManager.strictMode;">
                    <input type="checkbox">
                    <label data-off="Easy" data-on="Strict"></label>
                </span>
            </div>
        </div>
        <div id="button-container" class="col-xs-5">
            <game-button [buttonColor]="'green'">
            </game-button>
        </div>
        <div id="button-container" class="col-xs-5 col-xs-offset-2">
            <game-button [buttonColor]="'blue'">
            </game-button>
        </div>
    </div>
</div>