<hr>
<div class="col-xs-12">
    <game-button *ngFor="let color of buttonColors" [buttonColor]="color" class="col-xs-6">
    </game-button>

    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-6">
                <label>Power</label>
                <button class="btn" (click)="toggleOn()" [ngClass]="stateManager.powerOn ? 'on' : ''">&nbsp;</button>
                <br><br>        
            </div>
            
            <div class="col-xs-4">
                <label>Start</label>
                <button class="btn" (click)="start()">&nbsp;</button>
            </div>
            <div class="col-xs-4">
                <label>Strict Mode</label>
                <button class="btn" (click)="stateManager.strictMode = !stateManager.strictMode;"
                                    [ngClass]="stateManager.strictMode? 'on':''">&nbsp;</button>
            </div>

            <div class="col-xs-4">
                <span>Total in sequence</span> <span [innerText]="outputSequence.length"></span>
            </div>
            
        </div>
    </div>
</div>